[submodule "linum-relative"]
	path = linum-relative
	url = https://github.com/coldnew/linum-relative
[submodule "solarized"]
	path = solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "twittering-mode"]
	path = twittering-mode
	url = https://github.com/hayamiz/twittering-mode/
