[submodule "bundle/linum-relative"]
	path = bundle/linum-relative
	url = https://github.com/coldnew/linum-relative.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "bundle/twittering-mode"]
	path = bundle/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "bundle/markdown-mode"]
	path = bundle/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
